/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
}

form {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 50px;
}

form label,
form input,
form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form button {
    margin-top: 20px;
}

.read-more,
button,
.details a,
.car-card a {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}


.read-more:hover,
button:hover,
.details a:hover,
.car-card a:hover {
    background-color: #555;
} */