<section class="container">
    <h2>LOGIN</h2>
    <form (ngSubmit)="onSubmit()" method="post">
      <label for="username">Username:</label>
      <input [(ngModel)]="userData.username" type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input [(ngModel)]="userData.password" type="password" id="password" name="password" required />

      <button type="submit" class="btn">Login</button>
    </form>
    <div *ngIf="expiredJwtError" class="error-message">
      {{ expiredJwtError }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </section>
