<section class="container details">
  <div *ngIf="article">
    <!-- <h2>DETAILS</h2> -->
    <img [src]="article.imgUrl" alt="News Image 1" />
    <!-- Display details of the article -->
    <h3>{{ article.title }}</h3>
    <p>
      {{ article.content }}
    </p>
  
    <!-- Edit button linking to the edit page -->
    <a routerLink="/edit">Edit Article</a>
    <a routerLink="/add-fav">Add To Favorites</a>
    <!-- Delete button (Note: In a real app, this should trigger a confirmation modal) -->
    <a onclick="deleteArticle()">Delete Article</a>
  </div>
</section>
