<section class="container details">
  <div *ngIf="article">
    <!-- <h2>DETAILS</h2> -->
    <img [src]="article.imgUrl" alt="News Image 1" />
    <!-- Display details of the article -->
    <h3>{{ article.title }}</h3>
    <p>
      {{ article.content }}
    </p>
  
    <!-- Edit button linking to the edit page -->
    <div *ngIf="isAuthorized; else notAuthorizedBlock">
      <!-- Content to show when isAuthorized is true -->
      <a routerLink="/edit">Edit Article</a>
      <a routerLink="/delete">Delete Article</a>
    </div>
    
    <ng-template #notAuthorizedBlock>
      <div *ngIf="isAuthenticated; else noLinksBlock">
        <!-- Content to show when isAuthenticated is true -->
        <a routerLink="/add-fav">Add To Favorites</a>
      </div>
    
      <ng-template #noLinksBlock>
        <!-- Content to show when neither isAuthorized nor isAuthenticated is true -->
      </ng-template>
    </ng-template>
    
    
    <!-- Delete button (Note: In a real app, this should trigger a confirmation modal) -->
    
  </div>
</section>
