<section class="container details">
  <div *ngIf="article">
    <img [src]="article.imgUrl" alt="News Image 1" />
    <h3>{{ article.title }}</h3>
    <p>
      {{ article.content }}
    </p>

    <div *ngIf="isAuthorized; else notAuthorizedBlock">
      <a routerLink="/edit/{{article._id}}">Edit Article</a>
      <button (click)="deleteArticle()">Delete Article</button>
    </div>
    
    <ng-template #notAuthorizedBlock>
      <div *ngIf="isAuthenticated; else noLinksBlock">
        <ng-container *ngIf="!isFavoredByUser; else alreadyFavoredBlock">
          <a (click)="addArticleToFavorites(); updateFavoriteStatus()">Add To Favorites</a>
        </ng-container>
        <ng-template #alreadyFavoredBlock>
          <p>This article is already in your favorites list.</p>
        </ng-template>
      </div>
    
      <ng-template #noLinksBlock>
      </ng-template>
    </ng-template>
  
  </div>
</section>
