<section class="container">
    <h2>REGISTER</h2>
    <form (submit)="onSubmit()" method="post">
      <label for="username">Username:</label>
      <input [(ngModel)]="userData.username" type="text" id="username"  name="username" required />

      <label for="email">Email:</label>
      <input [(ngModel)]="userData.email" type="email" id="email"  name="email" required />

      <label for="password">Password:</label>
      <input [(ngModel)]="userData.password" type="password" id="password"  name="password" required />

      <label for="rePassword">Confirm Password:</label>
      <input
        type="password"
        id="rePassword"
        [(ngModel)]="userData.rePassword"
        name="rePassword"
        required
      />

      <button type="submit" class="btn">Register</button>
    </form>
  </section>
