<section class="container">
  <h2>ABOUT US</h2>
  <img src="assets/images/about.png" />
  <p>
    AutoInsight is your ultimate destination for staying updated on the latest
    happenings in the automotive world. Whether you're a die-hard car
    enthusiast, a casual driver, or an industry professional, AutoInsight
    provides comprehensive coverage of everything related to cars. Our mission is simple: to deliver timely, accurate, and
    engaging news and information about cars. We aim to empower our users with
    knowledge and insights that enrich their understanding and appreciation of
    automobiles.
  </p>
</section>
