<nav *ngIf="isAuthenticated">
    <a routerLink="/">Home</a>
    <a routerLink="/news">News</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a (click)="logout()" class="logout-link">Logout</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/favourites">Favorites</a>
    <a routerLink="/create">Add Article</a>
</nav>

<nav *ngIf="!isAuthenticated">
    <a routerLink="/">Home</a>
    <a routerLink="/news">News</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</nav>
