<section class="container news-container">
  <h2>LATEST NEWS</h2>
  <div *ngIf="!articles || articles.length == 0">
    <h2>No articles yet.</h2>
  </div>
  <div *ngFor="let article of articles" class="news-article">
    <img src="{{ article.imgUrl }}" alt="news-img" />
    <h3>{{ article.title }}</h3>
    <p class="article-meta">
    </p>
    <p>
      {{ article.content.slice(0, 30) + '...' }}
    </p>
    <a (click)="getNewsArticleDetails(article._id)" routerLink="/details/{{article._id}}" class="read-more">Read More</a>
  </div>
</section>
