<section class="container">
    <h2>FAVORITES</h2>
    <div *ngIf="!articles || articles.length === 0">
      <h2>You still haven't added articles to Favorites</h2>
    </div>
    <div *ngIf="articles && articles.length > 0">
      <div *ngFor="let article of articles" class="car-card">
        <img
          src="{{article.imgUrl}}"
          alt="Car 3"
        />
        <div class="car-details">
          <h3>{{article.title}}</h3>
          <p>
            {{article.content.slice(0, 30) + '...'}}
          </p>
          <a [routerLink]="['/details', article._id]" class="btn">View Details</a>
        </div>
      </div>
    </div>
  </section>
