<section class="container">
    <h2>FAVORITES</h2>
    <!-- Fetch and display user's favorite cars from the backend -->
    <div *ngFor="let article of articles" class="car-card">
      <img
        src="{{article.imgUrl}}"
        alt="Car 3"
      />
      <div class="car-details">
        <h3>{{article.title}}</h3>
        <p>
          {{article.content.slice(0, 30) + '...'}}
        </p>
        <a [routerLink]="['/details', article._id]" class="btn">View Details</a>
      </div>
    </div>
    <!-- Add more favorite cars as needed -->
  </section>
