/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Car Card Styles */
.car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.car-card p {
    padding-bottom: 20px;
}

.car-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.read-more,
button,
.details a,
.car-card a {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Hover Styles */
.read-more:hover,
button:hover,
.details a:hover,
.car-card a:hover {
    background-color: #555;
}