<section class="container">
    <h2>ADD NEW ARTICLE</h2>
    
    <form (submit)="addNewsArticle()" method="post">
      <label for="image">Image:</label>
      <input [(ngModel)]="newArticle.imgUrl" name="image" required />

      <label for="title">Title:</label>
      <input [(ngModel)]="newArticle.title" name="title" required />

      <label for="content">Content:</label>
      <textarea [(ngModel)]="newArticle.content" name="content" rows="4" required style="resize: none;"></textarea>

      <button type="submit" class="btn">Create Article</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </section>
